main {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

body {
    margin-top: 100px;
    font-family: sans-serif;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.dark {
    background-color: #243447;
    color: #bebebe;
}

.light {
    background-color: white;
    color: black;
}

.blogTitle {
    font-weight: bolder;
    font-size: 30px;
    margin: 10px black solid;
    border-bottom: 3px black solid;
}

.blogContent {
    border: 3px teal dotted;
}

li {
    border: 5px solid black;
    list-style: numbered;
    align-items: space-between;
    margin: 10px;
}